[Desktop Entry]
Name=Weather
Comment=Australian Weather
Version=1.0
Exec=qweather
MimeType=application/x-weather;
Icon=bitshift.weather
Type=Application
Terminal=false
Categories=Qt;KDE;
